body{
	background: url('../img/background/img.png') center center fixed;;
	background-size: cover;
    background-repeat: no-repeat;

}

.menu{
	background-color:rgba(24, 32, 45, 0.78);
    padding: 1em;
    border-bottom: 3px solid #ffb900;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.menu-brand{
	font-family: cursive;
    color: #fff;
    display: flex;
    justify-content: center;
    
}

.menu-items{
	display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 1.2em;
}

.menu-link{
	cursor: pointer;
}

.menu-link:hover{
	text-decoration: underline!important;
}
.title-section{
	margin: 7em 2em 2em 0;
	color: #fff;
}

.box{
	color: #fff;
	padding: 1rem;
    height: 18em;
    margin-bottom: 3.6em;
    display: flex;
    cursor: pointer;
    background-color: rgba(41, 43, 44, 0.86);
    flex-wrap: wrap;
    
}

.first-box{
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-khtml-transition: all .2s ease;
	transition: all .2s ease;
}

.first-box:hover{
	  -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
       transform: scale(1.05);
}

.second-box{
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-khtml-transition: all .2s ease;
	transition: all .2s ease;
}


.second-box:hover{
	  -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
       transform: scale(1.05);
}

.third-box{
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-khtml-transition: all .2s ease;
	transition: all .2s ease;
}


.third-box:hover{
	  -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
       transform: scale(1.05);
}

.section{
	display: flex;
    justify-content: space-between;
    background-color: rgba(24, 32, 45, 0.75);
    padding: 2em;
    color: #fff;
    margin-bottom: 3em;
	cursor: pointer; 
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-khtml-transition: all .2s ease;
	transition: all .2s ease;
}

.section:hover{

	background-color: #fff;
	color: #000;
}

.text-box{
	width: 100%;
}

footer{
	background-color: #18202d;
	color: #fff;
	padding: 2em;

}

.footer-ico{
	display: flex;
	justify-content: center;
}

.ico{
	cursor: pointer;
	height: 100%;
    padding-left: 1em;
}

.text-center{
	font-size: 1.3rem;
	margin-bottom: 2em;
}

.text-footer{
	margin-top: 2em;
    border-top: 1px solid #fff;
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

@media (min-width: 320px) {
	.ico{
		width: 20%;
	}

	.section-link{
		font-size: 1.3em;
	}

	.menu-brand{
		padding-top: 0.5em;
	}

	#brand {
    	font-size: 1rem;
	}

	.menu-items {
    	font-size: 1em;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.ico{
		width: 10%;
	}

	.box-description{
    	font-size: 1.3em;
	}

	#brand {
    	font-size: 2rem;
	}
}

@media (min-width: 992px){
	.ico{
		width: 7%;
	}

	.section-link{
		font-size: 1.5em;
	}

	#brand {
    	font-size: 2rem;
	}
}